html{
    body{
        margin: 0;
        height: 100%;
        background-image: url(https://iconfont.alicdn.com/p/illus/preview_image/B0ynp9sgwReN/b9dcede8-dd9c-497b-9ce3-98621200ef7b.png);
        background-repeat: no-repeat;
        background-position: 0 0;
    }
}
#root{
    height: 100%;
}