:root:root{
    --adm-color-primary:#a062d4
}
/* .temp{
    --adm-color-primary:#a062d4
} */
body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style:none;
    text-decoration: none;
    list-style: none;
}